# Homework 1 - Transforming Data

## Import Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from google.colab import drive

drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Load FIFA Dataset

In [3]:
path = '/content/drive/MyDrive/Shift Academy/'

df_fifa = pd.read_csv(path + 'FIFA_dataset.csv')
df_fifa.head()

   Unnamed: 0      ID  ... GKReflexes  Release Clause
0           0  158023  ...        8.0         €226.5M
1           1   20801  ...       11.0         €127.1M
2           2  190871  ...       11.0         €228.1M
3           3  193080  ...       94.0         €138.6M
4           4  192985  ...       13.0         €196.4M

[5 rows x 89 columns]

Tampilkan hanya kolom 'Name', 'Age, 'Nationality’

In [4]:
# Show only Name, Age, and Nationality
df_fifa[['Name', 'Age', 'Nationality']]

                     Name  Age Nationality
0                L. Messi   31   Argentina
1       Cristiano Ronaldo   33    Portugal
2               Neymar Jr   26      Brazil
3                  De Gea   27       Spain
4            K. De Bruyne   27     Belgium
...                   ...  ...         ...
18202        J. Lundstram   19     England
18203  N. Christoffersson   19      Sweden
18204           B. Worman   16     England
18205      D. Walker-Rice   17     England
18206           G. Nugent   16     England

[18207 rows x 3 columns]

Tampilkan 5 baris teratas dan kolom 'Name', 'Overal', 'Potential', 'Release Clause' dengan menggunakan fungsi .loc

In [5]:
df_fifa.loc[:4, ['Name', 'Overall', 'Potential', 'Release Clause']]

                Name  Overall  Potential Release Clause
0           L. Messi       94         94        €226.5M
1  Cristiano Ronaldo       94         94        €127.1M
2          Neymar Jr       92         93        €228.1M
3             De Gea       91         93        €138.6M
4       K. De Bruyne       91         92        €196.4M

Tampilkan data hanya yang memiliki warganegara 'Germany’!

In [6]:
df_fifa[df_fifa['Nationality'] == 'Germany']

       Unnamed: 0      ID  ... GKReflexes  Release Clause
11             11  182521  ...       10.0         €156.8M
18             18  192448  ...       90.0         €123.3M
22             22  167495  ...       87.0          €62.7M
34             34  178603  ...        6.0          €75.9M
55             55  222492  ...       14.0         €125.1M
...           ...     ...  ...        ...             ...
18101       18101  243934  ...       51.0            €50K
18127       18127  244043  ...       54.0           €104K
18145       18145  244172  ...       48.0           €104K
18187       18187  240158  ...       12.0            €66K
18189       18189  240160  ...        8.0           €125K

[1198 rows x 89 columns]

Siapakah pemain yang memiliki warganegara 'France' dan berada pada Club 'Manchester United’?

In [7]:
# condition for players with French nationality
cond1 = (df_fifa['Nationality'] == 'France')
# condition for players with club is Manchester United
cond2 = (df_fifa['Club'] == 'Manchester United')
df_fifa[cond1 & cond2]

     Unnamed: 0      ID        Name  ...  GKPositioning GKReflexes Release Clause
45           45  195864    P. Pogba  ...            4.0        3.0        €123.2M
116         116  211300  A. Martial  ...           15.0       11.0         €87.1M

[2 rows x 89 columns]

Tampilkan 'Name', 'Age', 'Overall', 'Wage', dan 'Release Clause' pada pemain dengan kewarganegaraan 'England' dan Club 'Manchester City’

In [8]:
# condition for players with England nationality
cond1 = (df_fifa['Nationality'] == 'England')
# condition for players with club is Manchester City
cond2 = (df_fifa['Club'] == 'Manchester City')

df_fifa[cond1 & cond2].loc[:, ['Name', 'Age', 'Overall', 'Wage', 'Release Clause']].reset_index(drop=True)

                 Name  Age  Overall   Wage Release Clause
0         R. Sterling   23       86  €195K        €108.8M
1           K. Walker   28       84  €165K         €45.3M
2           J. Stones   24       83  €125K         €54.9M
3            F. Delph   28       80  €120K         €21.3M
4            P. Foden   18       73   €36K         €19.8M
5  C. Humphreys-Grant   19       62    €6K          €1.5M
6           L. Bolton   18       61    €7K          €1.3M
7     T. Dele-Bashiru   18       57    €6K          €520K
8         D. Grimshaw   20       54    €6K          €297K

Lakukan pengelompokkan Club (groupby Club) dan tampilkan rata-rata overall pemain.

In [9]:
# Average Overall for each Club 
df_fifa.groupby('Club')['Overall'].mean().reset_index()

                      Club    Overall
0      SSV Jahn Regensburg  65.586207
1    1. FC Heidenheim 1846  65.750000
2     1. FC Kaiserslautern  63.384615
3               1. FC Köln  70.785714
4          1. FC Magdeburg  65.615385
..                     ...        ...
646     Zagłębie Sosnowiec  60.760000
647        Çaykur Rizespor  66.900000
648              Örebro SK  60.481481
649          Östersunds FK  63.545455
650          Śląsk Wrocław  62.200000

[651 rows x 2 columns]

Lakukan pengelompokkan berdasarkan Nationality dan tampilkan jumlah pemain dan median umur.

In [10]:
nationality_group = df_fifa.groupby('Nationality').agg({'Name':'count', 'Age':'median'}).reset_index()
nationality_group = nationality_group.rename(columns={'Name':'Jumlah Pemain', 'Age':'Median Umur'})
nationality_group

     Nationality  Jumlah Pemain  Median Umur
0    Afghanistan              4         22.0
1        Albania             40         24.0
2        Algeria             60         27.0
3        Andorra              1         28.0
4         Angola             15         25.0
..           ...            ...          ...
159   Uzbekistan              2         29.5
160    Venezuela             67         24.0
161        Wales            129         24.0
162       Zambia              9         21.0
163     Zimbabwe             13         26.0

[164 rows x 3 columns]

Membuat kolom baru bernama 'segment_player', yang memuat status segmentasi pemain sbb :
1. 'High' jika overall pemain > 85
2. 'Mid' jika overall pemain antara 65 dan 85
3. 'Low' jika overall pemain dibawah 65

In [11]:
df_fifa['segment_player'] = np.select([df_fifa['Overall'] > 85, # more than 85 for high 
                                       df_fifa['Overall'] >= 65, # between 65 and 85 for mid                                 
                                       df_fifa['Overall'] < 65], # lower than 65 for low
                                      ['High', 'Mid', 'Low'])

# Show 20 samples data
df_fifa[['Overall', 'segment_player']].sample(20)

       Overall segment_player
15703       59            Low
14550       61            Low
5104        70            Mid
14519       61            Low
9080        66            Mid
13130       62            Low
13145       62            Low
16677       56            Low
3793        72            Mid
1332        76            Mid
15135       60            Low
10781       65            Mid
10036       65            Mid
6798        68            Mid
14992       60            Low
15797       59            Low
17447       54            Low
3662        72            Mid
13389       62            Low
4920        70            Mid

Urutkan data berdasarkan Overall secara Descending.

In [12]:
df_fifa.sort_values('Overall', ascending=False)

       Unnamed: 0      ID  ... Release Clause  segment_player
0               0  158023  ...        €226.5M            High
1               1   20801  ...        €127.1M            High
2               2  190871  ...        €228.1M            High
3               3  193080  ...        €138.6M            High
4               4  192985  ...        €196.4M            High
...           ...     ...  ...            ...             ...
18190       18190  245569  ...          €165K             Low
18189       18189  240160  ...          €125K             Low
18187       18187  240158  ...           €66K             Low
18186       18186  240917  ...          €167K             Low
18206       18206  246269  ...          €165K             Low

[18207 rows x 90 columns]

# Homework 2 - Merging Data

## Load US Videos Dataset

In [13]:
# Load US Videos 
df_videos = pd.read_csv(path + 'USvideos.csv')
df_videos.head()

      video_id  ...                                        description
0  2kyS6SvSYSE  ...  SHANTELL'S CHANNEL - https://www.youtube.com/s...
1  1ZAPwfrtAFY  ...  One year after the presidential election, John...
2  5qpjK5DgCt4  ...  WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3  puqaWrEC7tY  ...  Today we find out if Link is a Nickelback amat...
4  d380meD0W0M  ...  I know it's been a while since we did this sho...

[5 rows x 16 columns]

In [14]:
df_videos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40949 entries, 0 to 40948
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   video_id                40949 non-null  object
 1   trending_date           40949 non-null  object
 2   title                   40949 non-null  object
 3   channel_title           40949 non-null  object
 4   category_id             40949 non-null  int64
 5   publish_time            40949 non-null  object
 6   tags                    40949 non-null  object
 7   views                   40949 non-null  int64
 8   likes                   40949 non-null  int64
 9   dislikes                40949 non-null  int64
 10  comment_count           40949 non-null  int64
 11  thumbnail_link          40949 non-null  object
 12  comments_disabled       40949 non-null  bool
 13  ratings_disabled        40949 non-null  bool
 14  video_error_or_removed  40949 non-null  bool
 15  description             40379 non-null  object
dtypes: bool(3), int64(5), object(8)
memory usage: 4.2+ MB

Buat dataframe dengan nama 'title' yang berisi video_id dan title.

In [15]:
title = df_videos[['video_id', 'title']]
title.head()

      video_id                                              title
0  2kyS6SvSYSE                 WE WANT TO TALK ABOUT OUR MARRIAGE
1  1ZAPwfrtAFY  The Trump Presidency: Last Week Tonight with J...
2  5qpjK5DgCt4  Racist Superman | Rudy Mancuso, King Bach & Le...
3  puqaWrEC7tY                   Nickelback Lyrics: Real or Fake?
4  d380meD0W0M                           I Dare You: GOING BALD!?

Buat dataframe dengan nama 'description' yang berisi video_id dan description

In [16]:
description = df_videos[['video_id', 'description']]
description.head()

      video_id                                        description
0  2kyS6SvSYSE  SHANTELL'S CHANNEL - https://www.youtube.com/s...
1  1ZAPwfrtAFY  One year after the presidential election, John...
2  5qpjK5DgCt4  WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3  puqaWrEC7tY  Today we find out if Link is a Nickelback amat...
4  d380meD0W0M  I know it's been a while since we did this sho...

Export keduanya ke dalam CSV baru dan import Kembali menggunakan glob

In [17]:
# Export title and desription dataframe to csv file
title.to_csv('title.csv', index=False)
description.to_csv('description.csv', index=False)

# Import glob to read multiple csv files
from glob2 import glob
file_name = glob('*.csv')

# Create list
dataframes = []

for file in file_name:
  df = pd.read_csv(file)
  dataframes.append(df)

In [18]:
dataframes[1].head(3)

      video_id                                              title
0  2kyS6SvSYSE                 WE WANT TO TALK ABOUT OUR MARRIAGE
1  1ZAPwfrtAFY  The Trump Presidency: Last Week Tonight with J...
2  5qpjK5DgCt4  Racist Superman | Rudy Mancuso, King Bach & Le...

In [19]:
dataframes[0].head(3)

      video_id                                        description
0  2kyS6SvSYSE  SHANTELL'S CHANNEL - https://www.youtube.com/s...
1  1ZAPwfrtAFY  One year after the presidential election, John...
2  5qpjK5DgCt4  WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...

Lakukan operasi merge (boleh dengan .merge atau .join) kepada dataframe title dan description. kemudian munculkan title video yang tidak ada descriptionnya.

In [20]:
# merge title and description dataframes
title_desc = pd.merge(dataframes[1], dataframes[0], on='video_id', how='inner')
title_desc

           video_id  ...                                        description
0       2kyS6SvSYSE  ...  SHANTELL'S CHANNEL - https://www.youtube.com/s...
1       2kyS6SvSYSE  ...  SHANTELL'S CHANNEL - https://www.youtube.com/s...
2       2kyS6SvSYSE  ...  SHANTELL'S CHANNEL - https://www.youtube.com/s...
3       2kyS6SvSYSE  ...  SHANTELL'S CHANNEL - https://www.youtube.com/s...
4       2kyS6SvSYSE  ...  SHANTELL'S CHANNEL - https://www.youtube.com/s...
...             ...  ...                                                ...
400898  dS5Thrl-4Kc  ...  Hey Larlees, todays video is me testing Crayol...
400899  JGm9Y_hFqNk  ...  First Take's Stephen A. Smith and Max Kellerma...
400900  6h8QgZF5Qu4  ...  James Corden and Ashton Kutcher square off in ...
400901  mpnshdmtE2Y  ...  Ground chuck is a great all-purpose, buy-it-an...
400902  yz7Xq3T0YPs  ...  Katherine talks about learning accents, growin...

[400903 rows x 3 columns]

In [21]:
# Filter for descriptions that have null values
desc_null = title_desc[title_desc['description'].isnull()].reset_index(drop=True)
desc_null

         video_id  ... description
0     NZFhMSgbKKM  ...         NaN
1     NZFhMSgbKKM  ...         NaN
2     NZFhMSgbKKM  ...         NaN
3     NZFhMSgbKKM  ...         NaN
4     NZFhMSgbKKM  ...         NaN
...           ...  ...         ...
5217  H08xgoXkpa8  ...         NaN
5218  H08xgoXkpa8  ...         NaN
5219  H08xgoXkpa8  ...         NaN
5220  H08xgoXkpa8  ...         NaN
5221  H08xgoXkpa8  ...         NaN

[5222 rows x 3 columns]

Ada berapa nilai unik title yang tidak ada descriptionnya?

In [22]:
# Number of unique values for the title
print('Nilai unik title yang tidak mempunyai description ada : {}'.format(desc_null['title'].nunique()))

Nilai unik title yang tidak mempunyai description ada : 107