## Session 9

### Variable and Data Type

In [1]:
city = 'Jakarta Timur'

In [2]:
print(city)

Jakarta Timur

In [3]:
city2 = 'Jakarta Barat'

In [4]:
print(city2)

Jakarta Barat

In [5]:
x = "Today is somebody's birthday"
print(x)

Today is somebody's birthday

In [6]:
word = 'hello' +' '+'world'
print('Tipe data :', type(word))

Tipe data : <class 'str'>

In [7]:
word = 'hello'+' '+'world'
print('Tipe data: ',type(word))

Tipe data:  <class 'str'>

In [8]:
print(word[3])

l

### Slicing

In [9]:
b = "Hello, World!"
print(b[1:12:2]) 
#start, stop, step, index di Python mulai dari angka 0,stop di angka ekslusif 
#(mulai dari -1 jika reverse/terbalik)

el,Wrd

Tulisan Biasa\
**Tulisan Bold**

In [10]:
nama = 'ada lovelace'
nama.title()

'Ada Lovelace'

In [11]:
print(nama.upper())
print(nama.lower())

ADA LOVELACE
ada lovelace

In [12]:
print(nama.strip())
print(nama.split())

ada lovelace
['ada', 'lovelace']

### Number

In [13]:
x = 1
y = 2.8
z = 1j

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [14]:
x1 = 2**5 # pangkat
print(x1)

x2 = 2*5
print(x2)

32
10

### List

In [15]:
bicycles = ['Ontel','Mountain Bike', 'Sepeda Lipat', 'Brompton']
print(bicycles)

print(bicycles[1])

['Ontel', 'Mountain Bike', 'Sepeda Lipat', 'Brompton']
Mountain Bike

In [16]:
myList = ['fisika', 'kimia', True, 1985, 1993, 2017]
print(myList)

myList2 = [myList, 2021]
print(myList2)

['fisika', 'kimia', True, 1985, 1993, 2017]
[['fisika', 'kimia', True, 1985, 1993, 2017], 2021]

In [17]:
print(myList2[0][2])

True